<tr data-fdcid = <%= fdcid %> >
    <td>
        <span><%= description %></span>
    </td>
    <td>
        <input class="product-amount" type="number" value="100" min="0">
        <button id="remove-product-from-list" class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </td>
</tr>